@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  font-family: 'Righteous', cursive;
}

.navbar{
  width: 100%;
  height: 10%;
  background-color: transparent;
}

#h1{
  text-align: center;
}

.h3{
  text-align: center;
}

#h5{
  text-align: center;
}

.heading{
  text-align: center;
}

body{
  background: url("https://i.postimg.cc/1zVTYcHF/pic.jpg") center no-repeat;
  background-size: cover;
  background-position-y: 9%;
}


.centreIMG{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 9px;
  }


  .laptops{
    text-align: center;
  }